repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check (fix)
        entry: uv run ruff check --fix
        language: system
        types_or: [python, pyi]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types_or: [python, pyi]

      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        pass_filenames: false
        types_or: [python, pyi]
